<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgIB2jVL1zbo1WbIevbofQxfkXr1V9gJw</string>
	<key>GCM_SENDER_ID</key>
	<string>258653691670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triade.spotted</string>
	<key>PROJECT_ID</key>
	<string>spotted-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>spotted-v2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258653691670:ios:a7d27a28e6e0366647fa37</string>
</dict>
</plist>